input.text {
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 1px #0000001a;
	box-sizing: border-box;
	font-size: 1em;
}
button.wide-button:hover{
	background-color: #ddd;
}
button.wide-button{
	color: inherit;
	background-color: rgba(128,128,128,0.08);
	padding: 3px 12px;
	font-size: 1.2em;
	font-family: inherit;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid #eee;
	display: block;
	width: 100%;
	border-color: #ccc;
	margin: 5px 0px;
	cursor: pointer;
	touch-action: manipulation;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
button.wide-button.disabled{
	opacity: .5;
	cursor: unset;
}
button.wide-button.disabled:hover{
	background-color: rgba(128,128,128,0.08);
}
#console pre {
	margin: 0;
	padding: .1em .5em;
	white-space: pre-wrap;
}
#console {
	font-size: 1em;
}
.collapsable{
	cursor:pointer;
}
.collapsable:after{
	content: "\00a0";
	float: right;
	margin-right: 20px;
	width: 14px;
	opacity: .4;
	background-repeat: no-repeat;
    background-position: center;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14px' height='14px' viewBox='0 0 14 14'%3E%3Cpolygon fill='%23000' points='11.949%2C3.404 7%2C8.354 2.05%2C3.404 -0.071%2C5.525 7%2C12.596 14.07%2C5.525 '/%3E%3C/svg%3E");
}
.collapsable.collapsed:after, .menu-link:before{
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14px' height='14px' viewBox='0 0 14 14'%3E%3Cpolygon fill='%23000' points='3.404%2C2.051 8.354%2C7 3.404%2C11.95 5.525%2C14.07 12.596%2C7 5.525%2C-0.071 '/%3E%3C/svg%3E");
}
.menu-link{
	font-size: 1.4em;
	display: block;
	margin-bottom: 0.3em;
}
.menu-link:before{
	content: "\00a0";
	float: left;
	margin-right: 20px;
	width: 14px;
	opacity: .4;
	background-repeat: no-repeat;
    background-position: center;
}
.alert button:focus, .alert button:hover{
	color: #000;
	cursor: pointer;
	opacity: .5;
}
.alert button{
	position: relative;
	top: -2px;
	right: -21px;
	color: inherit;
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0;
	float: right;
	font-size: 21px;
	opacity: .2;
	font-weight: 700;
	font-family: inherit;
}
.alert {
	padding: 15px;
	border: 1px solid transparent;
	border-radius: 4px;
	margin-bottom: 20px;
	box-sizing: border-box;
	padding-right: 35px;
}
.alert a {
	color: inherit;
	font-weight: bold;
}
.alert-success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}
.alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}
.alert-info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
.alert-warning {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}
#msg-alert p{
	display: inline;
}
pre.language-clips{
    background-color: rgba(27,31,35,0.02);
}
.clips-keyword{
	color: rgb(147, 15, 128);
}
.clips-name{
	color: #795da3;
}
.clips-operator{
	color: rgb(0, 128, 192);
}
.clips-variable{
	color: #ed6a43;
}
a.back-button:hover{
	opacity: 0.75;
	text-decoration: none;
}
a.back-button{
	width: 16px;
    float: left;
    margin-left: -26px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14px' height='14px' viewBox='0 0 14 14'%3E%3Cpath fill='%23000' d='M5%2C3V0L1%2C4l4%2C4V5c0%2C0%2C6%2C0%2C6%2C3s-5%2C4-5%2C4v2c0%2C0%2C7-1%2C7-6C13%2C4%2C8%2C3%2C5%2C3z'/%3E%3C/svg%3E");
	background-position: center left;
    background-repeat: no-repeat;
	background-size: contain;
	opacity: .4;
}